.resultado-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;      /* tamaño grande */
  font-weight: 700;       /* más gruesa */
  color: #2d3748;         /* gris oscuro elegante */
}